@page
@model MadisonCountyCollaborationApplication.Pages.Dataset.MonteCarloModel
@{
}
@* breadcrum navigation *@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="../Home">Home</a></li>
        <li class="breadcrumb-item"><a asp-page="../Process/Index">@Model.ProcessName</a></li>
        <li class="breadcrumb-item"><a asp-page="ViewData">@Model.DatasetName</a></li>
        <li class="breadcrumb-item active" aria-current="page">Monte Carlo</li>
    </ol>
</nav>
<div class="text-center">
    <h1 class="display-4">Simple Rev Simulation</h1>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="RevComp" method="post">
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Complicated Revenue</button>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form asp-page-handler="Help" method="post">
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Help</button>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form asp-page-handler="Expense" method="post">
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Expenses</button>
            </div>
        </form>
    </div>
</div>
<br />
<form method="post" id="dataForm">
    <div class="row">
        <div class="col-md-4">
            Number of iterations:
            <input type="number" class="form-control" placeholder="Iterations" aria-label="Iterations" asp-for="iterations">
        </div>
        <div class="col-md-4">
            Number of Years:
            <input type="number" class="form-control" placeholder="Years" aria-label="Years" asp-for="years">
        </div>
        <div class="col-md-4">
            <label class="input-group-text" for="confidence">Significance Level</label>
            <div class="input-group">
                <select class="form-select" id="confidence" aria-label="Select distribution" asp-for="confidenceInterval">
                    <option selected value=90>90</option>
                    <option value="95">95</option>
                    <option value="99">99</option>
                </select>
            </div>
        </div>
    </div>
    <br />

    <h4 class="display-4">Taxes: </h4>
    <div class="row">
        <div class="col-md-2">
            Initial Value:
            <input type="number" class="form-control" placeholder="Initial Value" aria-label="Iterations" asp-for="Taxes.initial">
        </div>

        <div class="col-md-2">
            <label class="input-group-text" for="Taxes_dist">Distribution</label>
            <div class="input-group">
                <select class="form-select" id="Taxes_dist" aria-label="Select distribution" asp-for="Taxes.dist">
                    <option selected value="Constant">Constant</option>
                    <option value="Uniform">Uniform</option>
                    <option value="Triangular">Triangular</option>
                    <option value="Normal">Normal</option>
                    <option value="Lognormal">Lognormal</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <label class="input-group-text" for="Taxes_growth">Growth Type</label>
            <div class="input-group">
                <select class="form-select" id="Taxes_growth" aria-label="Select Growth" asp-for="Taxes.growth">
                    <option value="Constant">Constant Growth</option>
                    <option value="Nonconstant">Nonconstant Growth</option>
                    <option selected value="None">No Growth</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="mean/min" aria-label="Iterations" asp-for="Taxes.param1">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="variance/max" aria-label="Iterations" asp-for="Taxes.param2">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Most Likely" aria-label="Iterations" asp-for="Taxes.param3">
        </div>
    </div>
    <br />

    <h4 class="display-4">Intergovernmental: </h4>
    <div class="row">
        <div class="col-md-2">
            Initial Value:
            <input type="number" class="form-control" placeholder="Initial Value" aria-label="Iterations" asp-for="Gov.initial">
        </div>

        <div class="col-md-2">
            <label class="input-group-text" for="Gov_dist">Distribution</label>
            <div class="input-group">
                <select class="form-select" id="Gov_dist" aria-label="Select distribution" asp-for="Gov.dist">
                    <option selected value="Constant">Constant</option>
                    <option value="Uniform">Uniform</option>
                    <option value="Triangular">Triangular</option>
                    <option value="Normal">Normal</option>
                    <option value="Lognormal">Lognormal</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <label class="input-group-text" for="Gov_growth">Growth Type</label>
            <div class="input-group">
                <select class="form-select" id="Gov_growth" aria-label="Select Growth" asp-for="Gov.growth">
                    <option value="Constant">Constant Growth</option>
                    <option value="Nonconstant">Nonconstant Growth</option>
                    <option selected value="None">No Growth</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="mean/min" aria-label="Iterations" asp-for="Gov.param1">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="variance/max" aria-label="Iterations" asp-for="Gov.param2">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Most Likely" aria-label="Iterations" asp-for="Gov.param3">
        </div>
    </div>
    <br />

    <h4 class="display-4">Other: </h4>
    <div class="row">
        <div class="col-md-2">
            Initial Value:
            <input type="number" class="form-control" placeholder="Initial Value" aria-label="Iterations" asp-for="Other.initial">
        </div>

        <div class="col-md-2">
            <label class="input-group-text" for="Other_dist">Distribution</label>
            <div class="input-group">
                <select class="form-select" id="Other_dist" aria-label="Select distribution" asp-for="Other.dist">
                    <option selected value="Constant">Constant</option>
                    <option value="Uniform">Uniform</option>
                    <option value="Triangular">Triangular</option>
                    <option value="Normal">Normal</option>
                    <option value="Lognormal">Lognormal</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <label class="input-group-text" for="Other_growth">Growth Type</label>
            <div class="input-group">
                <select class="form-select" id="Other_growth" aria-label="Select Growth" asp-for="Other.growth">
                    <option value="Constant">Constant Growth</option>
                    <option value="Nonconstant">Nonconstant Growth</option>
                    <option selected value="None">No Growth</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="mean/min" aria-label="Iterations" asp-for="Other.param1">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="variance/max" aria-label="Iterations" asp-for="Other.param2">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Most Likely" aria-label="Iterations" asp-for="Other.param3">
        </div>
    </div>
    <br />
    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">Run Simulation</button>
    </div>
</form>

<div class="row justify-content-center mt-4">
    <div id="plotlyChart" class="col-md-12"></div>
</div>
@section Scripts {
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('dataForm').addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent the form from submitting traditionally

                var formData = new FormData(this);
                // var independentVariableName = "Revenue";
                // var dependentVariableName = "Frequency";

                fetch(this.action, {
                    method: 'POST',
                    body: formData,
                })
                    .then(response => response.json())
                    .then(data => {
                        // Added to print JSON data to check formatting
                        // document.getElementById('jsonResponse').textContent = JSON.stringify(data, null, 2);

                        var xValues = data.Data.Fields[0];
                        var xMin = Math.min(...xValues);
                        var xMax = Math.max(...xValues);
                        // Extend the x-range significantly
                        var xExtension = (xMax - xMin) * 0.5; // Extend by 10% of the range on both sides
                        var extendedXMin = 0;
                        var extendedXMax = xMax + xExtension;

                        // Generate points for the regression line using the extended range

                        var plotData = [{
                            x: xValues,
                            type: 'histogram',
                            name: 'Data Points'
                        }];

                        var layout = {
                            title: "Simulated Revenues",
                            xaxis: { title: "Revenue" },
                            yaxis: { title: "Frequecy" },
                            text: "Confidence Interval" + data.Confidence,
                            annotations: [{
                                x: 0.5,
                                y: 1.13,
                                xref: 'paper',
                                yref: 'paper',
                                showarrow: false,
                                font: { size: 16 }
                            }]
                        };

                        Plotly.newPlot('plotlyChart', plotData, layout);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        document.getElementById('jsonResponse').textContent = 'Error fetching data: ' + error.toString();
                    });
            });
        });
        document.getElementById('saveGraph').addEventListener('click', function () {
            Plotly.toImage('plotlyChart', { format: 'png' }).then(function (dataUrl) {
                // Send this dataUrl to the server
                fetch('/YourController/SaveGraph', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ imageData: dataUrl })
                })
                    .then(response => response.text())
                    .then(data => {
                        console.log(data); // Handle the server response, e.g., showing a success message
                    })
                    .catch(error => console.error('Error:', error));
            });
        });

    </script>
}