@page
@model MadisonCountyCollaborationApplication.Pages.Dataset.MultiRegressionModel
@using System.Data
@{
    ViewData["Title"] = "Multiple Regression Analysis";
}

<form id="dataForm" asp-page-handler="OnPost">
    <div class="mb-3">
        <label for="DependentVariable" class="form-label">Dependent Variable</label>
        <select class="form-select" name="DependentVariable" id="DependentVariable">
            @if (Model.Data.Columns != null)
            {
                foreach (DataColumn column in Model.Data.Columns)
                {
                    <option value="@column.ColumnName">@column.ColumnName.Replace("_", " ").TrimStart('_')</option>
                }
            }
        </select>
    </div>

    <div class="mb-3">
        <label for="IndependentVariables" class="form-label">Independent Variables</label>
        <select class="form-select" name="IndependentVariables" id="IndependentVariables" multiple="multiple">
            @if (Model.Data.Columns != null)
            {
                foreach (DataColumn column in Model.Data.Columns)
                {
                    <option value="@column.ColumnName">@column.ColumnName.Replace("_", " ").TrimStart('_')</option>
                }
            }
        </select>
        <small class="form-text text-muted">
            Hold CTRL (Windows) or CMD (Mac) to select multiple options.
        </small>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>