@page
@using System.Data
@using System.Data.SqlClient
@model MadisonCountyCollaborationApplication.Pages.Dataset.ViewDataModel
@{
}


<h2>@Model.DatasetName</h2>

<div class="CollabAdd">

</div>


<form method="post" asp-page-handler="RedirectToAnalysis">
    <div class="input-group mb-2">
        <label class="input-group-text" for="analysisSelect">Select Analysis</label>
        <select class="form-select" id="analysisSelect" name="analysisType" aria-label="Select Analysis">
            <option value="SingleRegression">Single Regression</option>
            <option value="MultiRegression">Multi Regression</option>
            <option value="Simulation">Monte Carlo Simulation</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br />

<!-- Table to display the dataset's data -->
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <!-- Loop through each column in the dataset and display column names -->
            @foreach (DataColumn column in Model.Data.Columns)
            {
                <th>@column.ColumnName</th>
            }

            
        </tr>
    </thead>
    <tbody>
        <!-- Loop through each row in the dataset and display row data -->
        @foreach (DataRow row in Model.Data.Rows)
        {
            <tr>
                @foreach (DataColumn column in Model.Data.Columns)
                {
                    <td>@row[column.ColumnName]</td>
                }
            </tr>
        }

    </tbody>
</table>
@* adding data to collab *@
<form asp-page-handler="AddCollabData">
    <input type="submit" value="Add to Collaboration" class="btn btn-secondary" />
</form>


<form method="post" asp-page-handler="AddCollabData">
    <div class="form-group">
        <label for="collabDropdown">Select Collaboration</label>
        <select asp-for="SelectedCollabID" asp-items="Model.CollaborationOptions" class="form-control" id="collabDropdown"></select>
    </div>
    <button type="submit" class="btn btn-secondary">Add to Collaboration</button>
</form>

