@using MadisonCountyCollaborationApplication.Pages.DB
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MadisonCountyCollaborationApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MadisonCountyCollaborationApplication.styles.css" asp-append-version="true" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/FaviconStuff/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/FaviconStuff/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/FaviconStuff/favicon-16x16.png">
    <link rel="manifest" href="~/FaviconStuff/site.webmanifest">
</head>
<body>
    @using MadisonCountyCollaborationApplication.Pages.DB
    @{
        var username = Context.Session.GetString("username");
        List<MadisonCountyCollaborationApplication.Pages.DataClasses.Process> userProcesses = new List<MadisonCountyCollaborationApplication.Pages.DataClasses.Process>();

        if (!string.IsNullOrEmpty(username))
        {
            userProcesses = DBClass.GetUserProcesses(username);
        }
    }

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="Images/MadCountyBug.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                    Madison County
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Context.Session.GetString("username") != null)
                        {
                            @* string username = Context.Session.GetString("username");
                            var userID = DBClass.UserNameIDConverter(username);
                            bool isAdmin = DBClass.CheckAdmin(userID); *@

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Home">Home</a>
                            </li>
                            @* <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Documents/DocumentCenter">Document Center</a>
                            </li> *@
                            @* @if (isAdmin)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/AdminDashboard">Admin Dashboard</a>
                                </li>
                            }
                            DBClass.MainDBconnection.Close(); *@

                           

                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="processesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    My Processes
                                </a>
                                <div class="dropdown-menu" aria-labelledby="processesDropdown">
                                    @foreach (var process in userProcesses)
                                    {
                                        <a class="dropdown-item" asp-area="" asp-page="/Process/Index" asp-route-processID="@process.ProcessID">@process.ProcessName</a>
                                    }
                                </div>
                            </li>


                        }
                    </ul>
                    <ul class="navbar-right" style="list-style-type: none;">
                        <!-- Remove list item bullets -->
                        @if (Context.Session.GetString("username") == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/User/Login">Log In</a>
                            </li>
                        }
                        else
                        {
  
                            var LocalUser = Context.Session.GetString("username");
                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                                        </svg>
                                        @LocalUser
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><button class="dropdown-item" type="button"> 
                                            <a asp-page="/User/Logout">Log out</a>
                                            </button>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Upstream Consulting - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var dropdowns = document.querySelectorAll('.navbar .nav-item.dropdown');
            dropdowns.forEach(function (dropdown) {
                dropdown.addEventListener('mouseenter', function (e) {
                    var dropdownMenu = this.querySelector('.dropdown-menu');
                    if (dropdownMenu) {
                        dropdownMenu.classList.add('show');
                    }
                });
                dropdown.addEventListener('mouseleave', function (e) {
                    var dropdownMenu = this.querySelector('.dropdown-menu');
                    if (dropdownMenu) {
                        dropdownMenu.classList.remove('show');
                    }
                });
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
