@page
@using System.Data.SqlClient;
@using MadisonCountyCollaborationApplication.Pages.DB;
@model MadisonCountyCollaborationApplication.Pages.PublicView.EconomicModel
@{
    Layout = null;
}

<head>

    <title>County Connect - Home</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Custom styles -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">

</head>

<!-- Start Navbar -->
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://www.madisonco.virginia.gov/" target="_blank">
            <img src="../Images/MadCountyBug.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">

        </a>
        <button class="btn btn-primary">
            <a asp-page="/User/Login" class="btn-text">
                Employee Log In
            </a>
        </button>
    </div>
</nav>
<!-- End Navbar -->
<!-- starthero -->
<div class="masthead" style="background-image: url(../Images/madheronew.jpg);">

    <div class="color-overlay d-flex justify-content-center align-items-center">
        <h1>Madison County, Virginia</h1>
    </div>
</div>
<!-- endhero -->
<!-- start subnav -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">County Reports</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- budgeting -->
                <li class="nav-item me-5">
                    <a asp-page="../Index" class="nav-link report-type" style="color: rgb(17, 73, 17);" >Budgeting</a>
                </li>
                <!-- budgeting -->
                <!-- revenue -->
                <li class="nav-item me-5">
                    <a asp-page="/PublicView/Revenue" class="nav-link report-type">Revenue Projections</a>
                </li>
                <!-- revenue -->
                <!-- administrative -->
                <li class="nav-item me-5">
                    <a asp-page="/PublicView/Administrative" class="nav-link report-type">Administrative Efficiency</a>
                </li>
                <!-- administrative -->
                <!-- employee -->
                <li class="nav-item me-5">
                    <a asp-page="/PublicView/Management" class="nav-link report-type">Management Efficiency</a>
                </li>
                <!-- employee -->
                <!-- economic -->
                <li class="nav-item me-5">
                    <a asp-page="/PublicView/Economic" class="nav-link active report-type" aria-current="page"><b>Economic Planning</b></a>
                </li>
                <!-- economic -->
            </ul>
        </div>
    </div>
</nav>
<!-- end subnav -->
<!-- start sections -->


<div class="report-container">
    <h3 class="text-center">Economic Planning</h3>
    <table class="table table-striped rounded-3 overflow-hidden">
        <thead class="table-color">
            <tr>

                <th scope="col" style="background-color:rgb(17, 73, 17); color: white;">Report Name</th>
                <th scope="col" style="background-color:rgb(17, 73, 17); color: white;">Date Published</th>
                <th scope="col" style="background-color:rgb(17, 73, 17); color: white;">Download</th>
            </tr>
        </thead>
        <tbody>
                    @{
                string economicQuery = $"SELECT Document.documentName, STUFF(documentName, 1, CHARINDEX('_', documentName, CHARINDEX('_', documentName) + 1), '') AS displayName, Document.datePublished FROM Document INNER JOIN DocumentProcess ON Document.documentID = DocumentProcess.documentID WHERE Document.isPublic = 1 AND DocumentProcess.processID = 5;";
                        SqlDataReader economicDataReader = DBClass.GeneralReaderQuery(economicQuery);

                        while (economicDataReader.Read())
                        {
                    <tr>

                        <td>@economicDataReader["displayName"].ToString()</td>
                        <td>@economicDataReader["datePublished"].ToString()</td>
                        <td>
                            <!-- Download button form -->
                            <form method="post" asp-page-handler="DownloadDocument">
                                <input type="hidden" name="documentName" value="@economicDataReader["documentName"].ToString()" />

                                <button type="submit" class="btn btn-primary btn-sm">
                                    <div class="icons">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z" />
                                        </svg>
                                    </div>
                                    Download
                                </button>
                            </form>
                        </td>

                    </tr>
                        }
                    }
        </tbody>
    </table>
</div>