@page
@model MadisonCountyCollaborationApplication.Pages.Collaboration.AddCollabPlanModel
@{
}
@{
    if (HttpContext.Session.GetString("username") != null)
    {
        <p>@Model.HttpContext.Session.GetString("username")</p>
    }
    if (HttpContext.Session.GetInt32("collaborationID") != null)
    {
        <div class="text-center">
            <h1 class="display-4">Collaboration @Model.HttpContext.Session.GetInt32("collaborationID") Add Plan</h1>
        </div>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">Add Plan</h1>
        </div>
    }
}

<form asp-page="AddPlan" asp-page-handler="Create">
    @* plan name box *@
    <input placeholder="Plan Name" type="text" asp-for="NewP.planName" class="form-control" />
    <span asp-validation-for="NewP.planName" class="text-danger"></span>
    <br />
    @* description box *@
    <input placeholder="Description" type="text" asp-for="NewP.planDesc" class="form-control" />
    <span asp-validation-for="NewP.planDesc" class="text-danger"></span>
    <br />
    @* datetime *@
    <input type="datetime-local" class="form-control" asp-for="NewP.dateCreated" />
    <span asp-validation-for="NewP.dateCreated" class="text-danger"></span>

    <br />
    <div class="d-grid gap-2">
        <input type="submit" value="Create Plan" class="btn btn-primary" />
    </div>
</form>
@*Populate and Clear button*@
<div class="text-center mt-4">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <form method="post" asp-page-handler="Clear">
            <button type="submit" class="btn btn-secondary">Clear Inputs</button>
        </form>

        <br />
        <form method="post" asp-page-handler="Populate">
            <button type="submit" class="btn btn-secondary">Populate</button>
        </form>
    </div>
</div>