@page
@model MadisonCountyCollaborationApplication.Pages.Collaboration.AddPlanContentsModel
@{
}
@{
    if (HttpContext.Session.GetString("username") != null)
    {
        <p>@Model.HttpContext.Session.GetString("username")</p>
    }
    if (HttpContext.Session.GetInt32("planID") != null)
    {
        <div class="text-center">
            <h1 class="display-4">Plan @Model.HttpContext.Session.GetInt32("planID")</h1>
        </div>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">Plan Contents</h1>
        </div>
    }
}
@* inputs *@
<form asp-page="PlanContents" asp-page-handler="Create">
    Sequence Number:
    <input placeholder="Sequence Number" type="number" asp-for="NewC.sequenceNumber" class="form-control" />
    <span asp-validation-for="NewC.sequenceNumber" class="text-danger"></span>
    <br />
    <input placeholder="Content Description" type="text" asp-for="NewC.planContents" class="form-control" />
    <span asp-validation-for="NewC.planContents" class="text-danger"></span>
    <br />
    <input type="submit" value="Add Plan Contents" class="btn btn-primary" />
</form>