@page
@model MadisonCountyCollaborationApplication.Pages.Collaboration.MessageModel
@{
}
@{
    if (HttpContext.Session.GetString("username") != null)
    {
        <p>@Model.HttpContext.Session.GetString("username")</p>
    }
    if (HttpContext.Session.GetInt32("collaborationID") != null)
    {
        <div class="text-center">
            <h1 class="display-4">Collaboration Chat @Model.HttpContext.Session.GetInt32("collaborationID")</h1>
        </div>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">Collaboration Chat</h1>
        </div>
    }
}
@* message display *@
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>User ID:</th>
            <th>Message Text:</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var prod in Model.MessageList)
            {
                <tr>
                    <td class="text-danger">@prod.userID</td>
                    <td>@prod.messageInfo</td>
                </tr>
            }
        }
    </tbody>
</table>
<br />
@* inputs *@
<form asp-page="Message" asp-page-handler="Send">
    <input placeholder="Message Text" type="text" asp-for="NewM.messageInfo" class="form-control" />
    <span asp-validation-for="NewM.messageInfo" class="text-danger"></span>
    <br />
    <div class="row">
        <div class="col-md-6">
            <input type="datetime-local" class="form-control" asp-for="NewM.messageTime" />
            <span asp-validation-for="NewM.messageTime" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <input type="submit" value="Post Message" class="btn btn-primary" />
        </div>
    </div>
</form>
<div class="text-center mt-4">
    <form method="post" asp-page-handler="Populate" class="d-inline">
        <button type="submit" class="btn btn-info btn-sm me-2">Populate</button>
    </form>
    <form method="post" asp-page-handler="Clear" class="d-inline">
        <button type="submit" class="btn btn-warning btn-sm">Clear</button>
    </form>
</div>