@page
@model MadisonCountyCollaborationApplication.Pages.Collaboration.ViewCollabDataModel
@{
}
@{
  

    if (HttpContext.Session.GetInt32("collaborationID") != null)
    {
        <div class="text-center">
            <h1 class="display-4">Collaboration @Model.HttpContext.Session.GetInt32("collaborationID") Datasets</h1>
        </div>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">Collaboration Knowledge</h1>
        </div>
    }
}
@* displaying datasets *@
<form asp-page-handler="Select" method="post" id="dataForm">
    <input type="hidden" name="DatasetID" id="dataIdInput" value="" />
    <div class="box-table">
        @{
            foreach (var prod in Model.DatasetList)
            {
                <div class="card" data-collab-id="@prod.ID" onclick="selectDataset(@prod.ID)">
                    <div class="card-header">
                        @prod.Name
                    </div>
                </div>
            }
        }
    </div>
</form>

@* @section Scripts {
    <script>
        function selectDataset(dataId) {
            // Set the value of the hidden input to the dataset ID
            document.getElementById('dataIdInput').value = dataId;
            // Submit the form
            document.getElementById('dataForm').submit();
        }
    </script>
@* }
<form asp-page="ViewCollabData" asp-page-handler="Analysis">
    <input type="submit" value="Add New Dataset" class="btn btn-primary" />
</form>
 *@ 

<h4>To add a new dataset to this collaboration:</h4>
<ol>
    <li>Go to the Data Center</li>
    <li>Select a dataset you want to add</li>
    <li>Click add to collaboration</li>
    <li>Select the collaboration you want to add it to</li>
</ol>