@page
@model MadisonCountyCollaborationApplication.Pages.AdminDashboardModel
@{
}


<h1>Admin Dashboard</h1>

<div class="text-center">
    <h1 class="display-4">Create New User</h1>
</div>

<form asp-page="CreateUser" asp-page-handler="Create">
    @* username *@
    <input type="text" placeholder="UserName:" asp-for="NewUser.userName" class="form-control" />
    <span asp-validation-for="NewUser.userName" class="text-danger"></span>
    <br />
    @* password *@
    <input type="text" placeholder="Password: " asp-for="NewUser.userPassword" class="form-control" />
    <span asp-validation-for="NewUser.userPassword" class="text-danger"></span>
    <br />
    <div class="input-group mb-3">
        @* names *@
        <input type="text" aria-label="First name" class="form-control" asp-for="NewUser.firstName" placeholder="First Name" />
        <span asp-validation-for="NewUser.firstName" class="text-danger"></span>
        <input type="text" aria-label="Last name" class="form-control" asp-for="NewUser.lastName" placeholder="Last Name" />
        <span asp-validation-for="NewUser.lastName" class="text-danger"></span>
    </div>
    <br />
    <div class="input-group mb-3">
        @* email and phone *@
        <input type="text" aria-label="Email" class="form-control" asp-for="NewUser.email" placeholder="Email" />
        <span asp-validation-for="NewUser.email" class="text-danger"></span>
        <input type="text" aria-label="Phone Number" class="form-control" asp-for="NewUser.phone" placeholder="Phone Number" />
        <span asp-validation-for="NewUser.phone" class="text-danger"></span>
    </div>
    <br />
    <div class="input-group">
        @* user type *@
        <select class="form-select" id="Type" aria-label="aggregation method" asp-for="NewUser.userType">
            <option value="">Choose User Type</option>
            <option value="Admin">Admin</option>
            <option value="Employee">Employee</option>
        </select>
        <span asp-validation-for="NewUser.userType" class="text-danger"></span>

    </div>
    <br />
</form>

<div class="position-fixed bottom-0 start-0 p-3">
    <form method="post" asp-page-handler="ClearInputs">
        <button type="submit" class="btn btn-secondary">Clear Inputs</button>
    </form>

    <br />
    <form method="post" asp-page-handler="Populate">
        <button type="submit" class="btn btn-secondary">Populate</button>
    </form>
</div>
