@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mt-5">
    <h1>Welcome to Madison County, VA</h1>
    <p>This is the official site for Madison County, offering information and insights into our county government and services.</p>
    <a class="btn btn-primary" asp-area="" asp-page="/GovReports">View County Government Reports</a>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card">
                <div class="card-body bg-white text-black">
                    <h2 class="card-title">Interim Reports</h2>
                    <p class="card-text">Reports are reports about the condition of the County and performance relative to a process for periods between the annual financial statements. You can find below recent interim  reports provided by the County during its public meetings.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#" class="text-primary" style="text-decoration: none;">FY 2023 YTD REPORT</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>