@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mt-5">
    <h1>Welcome to Madison County, VA</h1>
    <p>This is the official site for Madison County, offering information and insights into our county government and services.</p>
    <a class="btn btn-primary" asp-area="" asp-page="/GovReports">View County Government Reports</a>
</div>
