@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to the Madison County Web Application!</h1>

<p>This page will be where citizens will be able to view documents that are published by the County</p>

<p>Navigate to the Collaboration, Document, and Dataset center to view what county officials/staff will be using</p>

<img src="https://ih0.redbubble.net/image.5062764430.5157/raf,360x360,075,t,fafafa:ca443f4786.jpg" />



<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2Fminion--635218722466569891%2F&psig=AOvVaw0rqXiYw5wBG42p9Ks5lAeU&ust=1711308706591000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCOCh_-2Pi4UDFQAAAAAdAAAAABAE" />